<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div  *ngIf="birthday">
<ion-item>
  <ion-label position="stacked">Fullname</ion-label>
  <ion-input [(ngModel)]="birthday.fullname"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="stacked">Description</ion-label>
  <ion-textarea [(ngModel)]="birthday.description" row="5"></ion-textarea>
</ion-item>

<ion-item>
  <ion-label position="stacked">Fullname</ion-label>
   <ion-input [(ngModel)]="birthday.date" type="date"></ion-input>
</ion-item>
  </div>

  <ion-button expand="block" color="success" (click)="updateBirthdate()">
<ion-icon name="save" slot="start">Update</ion-icon>
  </ion-button>

  <ion-button expand="block" color="danger" (click)="deleteBirthdate()">
<ion-icon name="trash" slot="start">Delete</ion-icon>
  </ion-button>
</ion-content>
