

::-webkit-scrollbar, *::-webkit-scrollbar {
    display: none;
    overflow: hidden;
  }
  
  ion-content {
       overflow: hidden;
    --overflow: hidden;
  background: transparent;
   --background: linear-gradient(to right, #00a6ff, #ff002f);
    
  }

  .header {
   text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
}

.title {
  font-size: 28px;
  font-weight: bold;
  color: #01070c;  
  margin-bottom: 15px;
}

.text {
  font-size: 18px;
  color: #333;
  font-weight: 300;
  margin-bottom: 10px;
  line-height: 1.5;
}

.text:last-child {
  color: #090106;  
  font-weight: bold;
  font-size: 20px;
}

  .scroll-content {
    overflow: hidden;
   
  }
  
  ion-list {
    background: transparent;
    transform: translateY(5vh);
    ion-item {
      border: 1px solid #0084ff;
      border-radius: 10px;
    }
    ion-row {
      margin-bottom: 5vh;
    }
    ion-button {
      width: 30vh;
      margin: auto;
    }
    .alignItems {
      ion-checkbox, ion-note {
        display: inline-block;
        vertical-align: middle;
      }
      ion-checkbox {
        margin-right: 1vw;
        --size: 1.1rem;
      }
    }
    .signup {
      margin-top: 5vh;
      font-size: 0.8rem;
    }
    
    ion-col {
      ion-note {
        font-size: 0.85rem;
      }
    }
  }