/* Import de la police depuis Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Yuji+Mai&display=swap');



/* Application globale de la police */
:host {
  font-family: "Yuji Mai", serif;
  font-weight: 400;
  font-style: normal;
}




/* Header Design */
ion-header {
  --background: linear-gradient(to right, #FFD700, #FFA500);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.header-title {
  color: #00264D;
  font-weight: 600; /* Semi-bold */
  text-align: center;
  font-size: 1.5rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

/* Logout Button */
.logout-button {
  --background: none;
  color: white;
  font-weight: 600;
  font-size: 0.9rem;
  transition: transform 0.3s ease, color 0.3s ease;
}

.logout-button:hover {
  color: #FF4500;
  transform: scale(1.1);
}

/* Content Background */
ion-content {
  --background: linear-gradient(to bottom, #FFEFD5);
  animation: fadeIn 1.5s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Card Design */
.birthday-card {
  border: none;
  border-radius: 15px;
  margin: 15px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background: linear-gradient(145deg, #0084ff, #ff0095);
  font-family: 'Poppins', sans-serif;
}

.birthday-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}

ion-card-header {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 12px 12px 0 0;
  padding: 10px 15px;
}

.card-title {
  color: #00264D;
  font-weight: 700; /* Bold */
  font-size: 1.2rem;
}

/* Text Styles */
.days-left-text {
  color: #00264D;
  font-size: 1rem;
  margin-top: 10px;
}

.big-day-text {
  color: #008000;
  font-weight: 700; /* Bold */
  font-size: 1.1rem;
  margin-top: 10px;
}

/* Floating Action Button */
.fab-button {
  --background: linear-gradient(to bottom, #4dff00, #00ff1e);
  --color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.fab-button:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

/* Text Styles */
.days-left-text {
  color: #00264D;
  font-size: 1rem;
  margin-top: 10px;
}

.big-day-text {
  color: #008000;
  font-weight: bold;
  font-size: 1.1rem;
  margin-top: 10px;
}

/* Floating Action Button */
.fab-button {
 --background: linear-gradient(145deg, #0084ff, #ff0095);
  --color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.fab-button:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}
