<!-- <ion-content [fullscreen]="true">
  <div class="header">
    <ion-title> Welcome Back </ion-title>
    <p class="text">Sign up to create your account</p>
  </div>

  <form [formGroup]="registerForm" novalidate>
    <div class="ion-padding">
      <ion-item>
        <ion-input
          class="input"
          placeholder="username"
          formControlName="username"
        >
        </ion-input>
        <ion-icon name="person-outline"></ion-icon>
      </ion-item>
      <div
        *ngIf="this.registerForm.controls?.['username']?.touched && this.registerForm.controls?.['username']?.invalid "
      >
        <ion-text *ngIf="errorControl['username'].errors?.['required']">
          Username is required
        </ion-text>
      </div>

      <ion-item>
        <ion-input class="input" placeholder="email" formControlName="email">
        </ion-input>
        <ion-icon name="person-outline"></ion-icon>
      </ion-item>
      <div
        style="padding-top: -26px; padding-bottom: 16px"
        *ngIf="this.registerForm.controls?.['email']?.touched && this.registerForm.controls?.['email']?.invalid"
      >
        <ion-text
          *ngIf="errorControl['email'].errors?.['required']"
          class="errorInput"
          color="danger"
          >Email is required.</ion-text
        >
        <!-- <ion-text
          *ngIf="errorControl['email'].errors?.['pattern']"
          class="errorInput"
          color="danger"
          >Enter a valid email.</ion-text
        > 
      </div>

      <ion-item>
        <ion-input
          class="input"
          placeholder="password"
          formControlName="password"
          type="password"
        >
        </ion-input>
        <ion-icon name="lock-closed-outline"></ion-icon>
      </ion-item>
      <div
        style="padding-top: -26px; padding-bottom: 16px"
        *ngIf="this.registerForm.controls?.['password']?.touched && this.registerForm.controls?.['password']?.invalid"
      >
        <ion-text
          *ngIf="errorControl['password'].errors?.['required']"
          class="errorInput"
          color="danger"
          >password is required.</ion-text
        >
        <ion-text
          *ngIf="errorControl['password'].errors?.['minlength']"
          class="errorInput"
          color="danger"
          >Must contain at least six characters</ion-text
        >
      </div>

      <ion-button expand="block" (click)="signUp()" >Sign Up </ion-button>

      <div class="register">
        <a [routerLink]="['/login']">Already have an account ? Sign in</a>
      </div>
    </div>

    
  </form>
</ion-content> -->

<ion-content [fullscreen]="true">

  <div class="header">
  <ion-title class="title">Birthday Memo 🎂</ion-title>
  <p class="text">
    Keep track of your friends' birthdays and count the days until the big day!
  </p>
  <p class="text">Create an account and start adding your friends' birthdays today!</p>
</div>


  <form [formGroup]="signupForm">
    <ion-list lines="none" class="ion-margin ion-padding ion-text-center">
      <ion-item class="ion-margin-vertical">
        <ion-icon 
          name="person-outline" slot="end" color="medium">
        </ion-icon>
        <ion-input 
          formControlName="username" 
          placeholder="Enter Username">
        </ion-input>
      </ion-item>
      <ion-text 
        class="ion-text-left"
        color="danger"
        *ngIf="!signupForm.get('username')?.valid && signupForm.get('username')?.touched">
        <p class="error">*Please enter Username</p>
      </ion-text>

      <ion-item class="ion-margin-vertical">
        <ion-icon 
          name="mail-outline" slot="end" color="medium">
        </ion-icon>
        <ion-input 
          formControlName="email" 
          placeholder="Enter Email Address">
        </ion-input>
      </ion-item>
      <ion-text 
        class="ion-text-left"
        color="danger"
        *ngIf="!signupForm.get('email')?.valid && signupForm.get('email')?.touched">
        <p class="error">*Please enter proper Email Address</p>
      </ion-text>

      <ion-item class="ion-margin-vertical">
        <ion-icon (click)="onChange()"
          [name]="isTypePassword ? 'lock-closed-outline' : 'lock-open-outline'" 
          slot="end" 
          [color]="isTypePassword ? 'medium' : 'primary'">
        </ion-icon>
        <ion-input 
          formControlName="password" 
          [type]="isTypePassword ? 'password' : 'text'"
          placeholder="Enter Password">
        </ion-input>
      </ion-item>
      <ion-text 
        class="ion-text-left"
        color="danger"
        *ngIf="!signupForm.get('password')?.valid && signupForm.get('password')?.touched">
        <p 
          class="error" 
          *ngIf="signupForm.get('password')?.invalid && signupForm.get('password')?.errors?.['required']">
          *Please enter your Password
        </p>
        <p 
          class="error" 
          *ngIf="signupForm.get('password')?.dirty">
          *Password must be of atleast 8 characters
        </p>
      </ion-text>

      <ion-row class="ion-margin-vertical">
        <ion-col size="12" class="alignItems">
          <div align=left>
            <ion-checkbox formControlName="acceptTerms"></ion-checkbox>
            <ion-note>I accept the policy and terms</ion-note>
          </div>
        </ion-col>
      </ion-row>
      <ion-button *ngIf="!isLoading" color="primary" shape="round" (click)="signUp()">Sign Up</ion-button>
      <ion-button fill="clear" *ngIf="isLoading">
        <ion-spinner name="crescent" color="primary"></ion-spinner>
      </ion-button>
       <p class="signIn">
        <ion-note>
          Already a member yet? <ion-text [routerLink]="['/login']" color="primary">Sign In</ion-text>
        </ion-note>
      </p>
    </ion-list>
  </form>
</ion-content>